@font-face {
    font-family: 'Blueberry Personal Use';
    src: url('fonts/Blueberry-Regular.woff2') format('woff2'),
        url('fonts/Blueberry-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

